
#pop-up {
  top: 100px;
  right: 500px;
  background-color: antiquewhite;
  width: 400px;
  height: 500px;
  padding: 50px;
  border-radius: 50px;
  text-align: center;
}
h1 {
  text-align: right;
}
#alert {
  position: absolute;
  top: 30px;
  margin-left: 500px;
  display: none;
  width: 400px;
}
#block {
  position: absolute;
  top: 90px;
  border: 30px;
  align-items: center;
  padding:30px;
  border-radius: 50px;
}
#block>.row>h2{
  text-align: center;
  
}
#col1 {
  background-color: #074063;
  padding: 20px;
  color: aliceblue;
}
#col2 {
  background-color: orange;
  padding: 20px;
  color: aliceblue;
}
#col1>a,#col2>a{
    color: aliceblue;
    text-decoration: none;
}

#btn{
  display: flex;

}
#btn>a{
  color: aliceblue;
  padding-left: 20px;
}
#btn>a>button{
  background-color: #074063;
  color: aliceblue;

  background-color: #2a332e;
  border-radius: 100px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn>a>button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(104, 82, 82, 0.22);
  transform: scale(1.05) rotate(-1deg);
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #171a1b;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #2a332e;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



